  .HomeBackground {
    position: absolute;
    background-color: blue;
    height: 44vmax;
    width: 20vmax;
    border-radius: 10%;
  }

  .HomeBackimage{
    height: 44vmax;
    width: 20vmax;
    border-radius: 10%;
  }

  .ShadowSet{
    position: absolute;
    background-color: transparent;
    height: 44vmax;
    width: 19vmax;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    pointer-events: none;
    box-shadow: -1.5vmax 0.5vmax 1vmax 0.5vmax gray;
  }

  .Main {
    text-align: center;
  }
  
  .Main-logo {
    position: relative;
    height: 45vmax;
    width: 22vmax;
    pointer-events: none;
  }
  
  .Main-header {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmax);
    color: white;
  }
  
  .Main-link {
    color: #61dafb;
  }

  .Threediv{
    flex:100%;
    align-items: center;
    justify-content: center;
  }