.InfoScreen {
    position: relative;
    height: 15vmax;
    width: 15vmax;
    opacity: 100%;
    animation: InfoFade-in 0.4s ease
  }

  @keyframes InfoFade-in{
    from{
      opacity: 0%;
      top:35vmin;
    }
    to{
      opacity: 100%;
      top:25vmin;
    }
  }

  @keyframes InfoFade-out{
    from{
      top:25vmin;
      opacity: 100%;
    }
    to{
      top:35vmin;
      opacity: 0%;
    }
  }

  @keyframes Move-out{
    from{
      Left:10vmax;
      opacity: 100%;
    }
    to{
      left:-35vmax;
      opacity: 0%;
    }
  }

.MyPic{
  height: 10vmax;
  width: 10vmax;
  border-radius: 100px;
  border: solid black;
}

.InfoTitle{
  font-size: 0.5vmax;
  text-align: right;
  margin-right: 1vmax;
}

.InfoText{
  font-size: 0.5vmax;
  font-weight: 600;
  text-align: left;
}

.InfoTable{
  background-color: #CCCCCC;
  border-radius: 5%;
  padding:2vmax;
  margin-top: 2vmax;
  height: 15vmax;
  width: 15vmax;
}

.InfoTr{
  line-height: 0.01vmax;
}

.InfoTd{
  line-height: 0.01vmax;
  width: 50%;
}